.grid-container {
  border: solid 2px #000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 18em 18em 18em;
      grid-template-columns: 18em 18em 18em;
  -ms-grid-rows: 15em 15em 15em 15em;
      grid-template-rows: 15em 15em 15em 15em;
}

.grid-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  font-size: 1.1em;
  padding: 1.5em;
  color: white;
}

.color1 {
  background-color: #675BA7;
}

.color2 {
  background-color: #9BC850;
}

.color3 {
  background-color: #A62E5C;
}

.color4 {
  background-color: #2A9FBC;
}
